@import '../../styles/utils';

.dropdownControl {
  display: flex;
  align-items: center;

  width: 440px;
  height: 58px;

  font-size: 22px;
  padding-left: 15px !important;
  border-radius: 30px !important;
  border: 2px solid #6a6a6a !important;

  &.dropdownControlBig {
    height: 100px;
  }
}

.dropdownMenu {
  margin-top: 10px !important;
  border-radius: 30px !important;
  font-size: 18px !important;
  max-height: 340px !important;
}

.dropDownArrow {
  right: 19px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
