@import '../../../styles/utils';

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  border-radius: 50%;
  border-width: 0;
  line-height: 1;
  cursor: pointer;

  background-color: #fff;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 25px;
  height: 25px;

  @include small {
    width: 30px;
    height: 30px;
  }
}

.icon {
  width: 100%;
  height: 100%;
}

