@import '../../styles/utils';

.center {
  flex-direction: column;
  @extend %center;
  gap: 40px;
  flex-grow: 1;
  margin-bottom: 50px;
}

.full_height {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 79vh;
  flex-direction: column;
}

.tiile__form_child {
  font-size: 45px;
  display: flex;

  @media screen and (min-width: 425px) {
    font-size: 25px;
  }
}

.forms_and_text {
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: flex-end;

  @include mobile {
    align-items: center;
    gap: 22px;

    padding: 10px;
  }
}

.form1 {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 35px;
  align-items: center;

  @include mobile {
    width: 80vw;
    gap: 0;
    grid-template-columns: 1fr;
  }
}

.form {
  box-sizing: border-box;
  width: 440px;
  height: 58px;
  border: 2px solid #6a6a6a;
  border-radius: 30px;
  font-size: 22px;
  padding: 10px;

  @include mobile {
    width: 100%;
  }

}

.button_container {
  width: 100%;
  @extend %center;
}

.imya {
  font-size: 32px;
  width: 300px;
  text-align: right;

  @media screen and (min-width: 425px) {
    font-size: 18px;
    text-align: left;
    width: auto;
  }
}

.doshkillya {
  width: 210px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.gender_selector {
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 30px;

  @include mobile {
    gap: 0px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}

.iconForInput {
  width: 50px;
  height: 50px;
}

.radio_block {
  display: flex;
  width: 440px;
  justify-content: flex-start;
  &__p {
    width: 150px;
    display: flex;
    justify-content: space-around;

    @include mobile {
      width: 100%;
    }

    &_smaller {
      width: 90px;
      display: flex;
      justify-content: center;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.radio_label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 32px;

  @media screen and (min-width: 425px) {
    font-size: 16px;
  }
}

.radio_input {
  display: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 41px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: black;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #6a6a6a;
    transform: translate(-19%, -19%);
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 24px;
    height: 24px;
    background: #74cdff;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1) translate(-5%, -6%);
}

.textBig {
  font-size: 22px;
  color: black;
  text-align: end;

  &__label {
    @include mobile {
      font-size: 18px;
    }
  }

  @include mobile {
    text-align: start;
    width: 100%;
    margin-bottom: 20px;
  }
}

.truncateText {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeDiv {
  height: 23px;
}

.errorMessage {
  color: red;
  font-size: 22px;
}


.button_registration {
  box-sizing: border-box;
  width: 388px;
  height: 58px;
  border: 2px solid #74cdff;
  border-radius: 30px;
  font-size: 22px;
  cursor: pointer;
  background-color: #a1ddff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #74cdff;
  }

  @include mobile {
    width: 90%;
  }
}

.upload {
  width: 440px;
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &_image {
    box-sizing: border-box;
    width: 174px;
    height: 98px;
    border: 2px solid #6a6a6a;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 15px;
    cursor: pointer;
    background-color: white;
    text-align: center;
}

}