@import '../../styles/utils';

.page {
  height: 100vh;
  @extend %center;
}

.shape {
  position: relative;
  width: 100%;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
}

.target {
  width: 100%;
}
