@import '../../../../styles/utils';

.container {
  width: 530px;
  max-width: 100%;
}

.square {
  position: relative;
  width: 100%;
  padding-bottom: 135%;
}

.plant {
  position: absolute;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;
}

%insect {
  position: absolute;

  width: 10%;
  height: auto;

  max-width: 45px;
  max-height: 45px;

  cursor: pointer;
}

.tlyaOne {
  @extend %insect;
  top: 5%;
  left: 30%;
  max-width: 45px;
  max-height: 45px;
}

.tlyaTwo {
  @extend %insect;
  top: 40%;
  left: 66%;
  max-width: 45px;
  max-height: 45px;
}

.coloradoOne {
  @extend %insect;
  top: 55%;
  right: 10%;
  max-width: 65px;
  max-height: 65px;
}

.coloradoTwo {
  @extend %insect;
  bottom: 2%;
  left: 37%;
  max-width: 65px;
  max-height: 65px;
}

.beeOne {
  @extend %insect;
  top: 0;
  left: 50%;
  max-width: 60px;
  max-height: 60px;
}

.beeTwo {
  @extend %insect;
  left: 12%;
  top: 41%;
  max-width: 85px;
  max-height: 85px;
}

.antOne {
  @extend %insect;
  top: 52%;
  left: 47%;
  max-width: 35px;
  max-height: 35px;
}

.antTwo {
  @extend %insect;
  bottom: 15%;
  left: 47%;
  max-width: 35px;
  max-height: 35px;
}

.antThree {
  @extend %insect;
  bottom: 0%;
  left: 25%;
  max-width: 35px;
  max-height: 35px;
}

.ladyBug {
  @extend %insect;
  bottom: 0%;
  left: 60%;
  max-width: 100px;
  max-height: 100px;
}
