body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

button {
  display: block;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background-color: unset;
}

input,
textarea {
  outline: none;
  border: 0;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}
