@import '../../../../styles/utils';

.earth {
  @extend %center;
  @extend %mb-2;
  width: 100%;
}

.toolsList {
  @extend %center;
  @extend %mb-2;

  padding: 15px;
}

.color {
  width: 70px;
  height: 70px;
  background-color: red;
  transition: box-shadow $td;

  &:not(:last-child) {
    margin-right: 25px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }

  &.selected {
    border: 3px #444 solid;
  }
}
