@import '../../../../../styles/utils';

.form {
  @extend %center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.button {
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 25px;

  @include small {
    margin-bottom: 30px;
    margin-top: 10px;
    height: 60px;
  }
}
