@import '../../styles/utils';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  scroll-behavior: smooth;
}

.header {
  height: 80px;

  @include tablet {
    height: 100px;
  }

  @include small {
    height: 110px;
  }
}

.main {
  flex-grow: 1;
  display: flex;
}

.container {
  width: 100%;
}
