@import "../../styles/utils";

.videoContainer {
  width: 100%;
  max-width: 900px;
}

.wrapper {
  position: relative;

  width: 100%;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.video {
  position: absolute;
  top: 0;
  left: 0;

  iframe{
    border-radius: 35px;
  }
}
