@import '../../../../styles/utils';

.list {
  @extend %center;
}

.item {
  width: 85px;
  height: 85px;
  margin: 5px;

  background-color: $background;
  border-radius: 15px;
  transition: background-color 0.3s ease;

  &.dragging {
    background-color: #faf9f9;
  }

  @include tablet {
    width: 100px;
    height: 100px;
  }

  @include small {
    width: 130px;
    height: 130px;
    margin: 10px;
    border-radius: 25px;
  }

  @include wide {
    width: 150px;
    height: 150px;
  }

  @include large {
    width: 180px;
    height: 180px;
    margin: 15px;
    border-radius: 44px;
  }
}

.mushroom {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.basketContainer {
  @extend %mb-1;

  position: relative;

  width: 130px;
  height: 130px;

  @include small {
    width: 170px;
    height: 170px;
  }

  @include wide {
    width: 185px;
    height: 185px;
  }

  @include large {
    width: 210px;
    height: 210px;
  }
}

.basketImage {
  position: absolute;
  left: 0;

  width: 100%;
  height: 100%;
}

.basketGlow {
  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 50%;
  transition: box-shadow 0.5s ease;

  &.visible {
    box-shadow:
      0 0 40px 15px #ffa012,
      0 0 50px 50px rgb(255, 234, 41);

    @include small {
      box-shadow:
        0 0 50px 25px #ffa012,
        0 0 80px 80px rgb(255, 234, 41);
    }

    @include large {
      box-shadow:
        0 0 50px 30px #ffa012,
        0 0 100px 100px rgb(255, 234, 41);
    }
  }
}
