@import "../../../../styles/utils";

.content {
  @extend %center;
  flex-direction: column;
  width: 100%;
  gap: 25px;

  @include large {
    flex-direction: row;
    gap: 40px;
  }
}

.buttons {
  @extend %center;
  gap: 20px;

  flex-direction: column;

  @include small {
    width: 90%;
    flex-direction: row;
  }

  @include large {
    flex-direction: column;
  }
}

.button {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  border: 1px #4e4e4e solid;
  overflow: hidden;
  border-radius: 30px;

  @include small {
    border-radius: 35px;
    height: 100px;
  }

  @include large {
    border-radius: 40px;
    width: 300px;
  }
}

.imageContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;

  @include small {
    height: 500px;
  }

  @include large {
    width: 50%;
    height: 600px;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-image 0.5s ease;
}